# 向量模型
# 建议使用智谱模型 
# https://docs.bigmodel.cn/cn/guide/models/embedding/embedding-3 智普模型 新用户 2000 万 token 免费 0.5 元 / 百万 Tokens

# 向量模型名称
EMBEDDING_MODEL=
# 向量模型 API 密钥
EMBEDDING_API_KEY=
EMBEDDING_API_URL=

# LLM 模型名称
LLM_MODEL=
# LLM 模型 API 密钥
LLM_API_KEY=
# LLM 模型 API 地址
LLM_API_URL=

# 向量维度
EMBEDDING_DIMENSION=768